/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.iplContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(24, 49, 111);
  color: white;
}
.iplCardContainer{
 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 
}
.iplCard{
justify-content: center;
align-items: center;
  padding: 30px;
  margin: 15px;
  background-color: rgb(217, 117, 11);   
  border-radius: 10px;
}
.iplCard img{
  border-radius: 4px;
}